/* General Reset and Basic Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f9;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

a {
    color: #0275d8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Navigation Styles */
nav {
    position: sticky;
    top: 0;
    background-color: #004d99;  /* Vibrant blue background */
    color: #ffffff;  /* White text for contrast */
    z-index: 1000;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;  /* Reduced padding for a tighter look */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);  /* Subtle shadow for depth */
}

nav ul {
    display: flex;
    justify-content: center;  /* Center links horizontally */
    padding: 0;
    margin: 0 auto;  /* Centering the navigation */
}

nav ul li {
    margin: 0 10px;  /* Space between items */
}

nav ul li a {
    font-size: 0.9rem;  /* Slightly smaller font size */
    color: inherit;  /* Inherits color from nav */
    padding: 5px 10px;  /* Padding around links */
    transition: background-color 0.3s;  /* Smooth transition for hover effect */
}

nav ul li a:hover {
    background-color: #003366;  /* Darker blue on hover and active */
}

/* Header */
header.title-row {
    background-color: #333;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
}

header.title-row h1 {
    margin: 0;
}

/* Main Content */
main.width-limited {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section {
    margin-bottom: 20px;
}

h2, h3 {
    color: #333;
}

p {
    margin-bottom: 10px;
}

ul {
    margin: 20px;
    padding-left: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 10px;
    background-color: #333;
    color: white;
}


/*Styles for the Spike Map*/

#main-container_spike {
    display: flex;
    height: 80vh; /* Full viewport height */
    align-items: stretch; /* Stretch children vertically */
    margin: 0;
    padding: 0;
}

#main-container_spike #map-and-controls {
    display: flex;
    flex-direction: column;
    flex: 7; /* Takes more space */
    align-items: stretch; /* Ensures children stretch to fill the width */
    margin: 0;
}

#main-container_spike #spike_map {
    height: 100%; /* Fill the available height */
    width: 100%;
}

#main-container_spike #controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px; /* Set a fixed height for controls */
    width: 100%;
}

#main-container_spike #controls input[type="range"] {
    width: 90%; /* Manage according to your design */
}

#main-container_spike #legends {
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-right: 0px;
    border: 1px solid #ccc;
	max-width: 240px; /* Maximum width to prevent too large containers */
    justify-content: space-between;  /* This ensures that the first item aligns to the top, and the last item aligns to the bottom */
}

#main-container_spike #colorLegend {
    padding-bottom: 250px;
}

#main-container_spike #sizeLegend {
    height: 50px;
}

#main-container_spike #colorLegend svg,
#main-container_spike #sizeLegend svg {
    overflow: visible; /* Allows elements that extend beyond the SVG's area to be visible */
}

#main-container_spike .tooltip {
    position: absolute;
    text-align: left;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    font-family: Arial, sans-serif;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    visibility: hidden; /* Initially hidden */
}


    /* Fancy select styling */
#main-container_spike .select-container {
    position: relative;
    width: 98%;
    margin: auto;
}

#main-container_spike .select-container select {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background: #fff;
    appearance: none; /* Remove default styling */
    -webkit-appearance: none; /* Remove default styling for Safari */
    -moz-appearance: none; /* Remove default styling for Firefox */
    cursor: pointer;
    position: relative; /* Needed to properly position the pseudo-element */
}

#main-container_spike .select-container::after {
    content: '\25BC'; /* Unicode for downward arrow */
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 16px;
    color: #333;
}

#main-container_spike .select-container select:hover {
    border-color: #888;
}


/*Styles for the Choropleth Map*/

#main-container_choropleth {
    width: 95%;   /* Limits max width while allowing some margin */
    max-width: 960px; /* Ensures it doesn't grow too large on bigger screens */
    height: auto; /* Adjust height based on content */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#main-container_choropleth #select-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
}
#main-container_choropleth #categorySelect, label {
    margin: 5px;
}
#main-container_choropleth #categorySelect {
    padding: 4px;
    font-size: 16px;
}
#main-container_choropleth svg {
    width: 100%;  /* Full width of the container */
    height: auto; 
}

#main-container_choropleth .tooltip {
    position: absolute;
    text-align: left;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    font-family: Arial, sans-serif;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    visibility: hidden; /* Initially hidden */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

/*Styles for the Sankey diagram*/

#sankey-diagram .checkbox-container, .radio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

#sankey-diagram .checkbox-button, .radio-button {
    display: none;
}

#sankey-diagram .checkbox-label, .radio-label {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

#sankey-diagram .checkbox-button:checked + .checkbox-label, .radio-button:checked + .radio-label {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

#sankey-diagram .chart {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#sankey-diagram #chart-sankey svg {
    display: block;
}

#sankey-diagram #tooltip-sankey {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}

/*Styles for the Bubble chart*/

#bubble .bubble {
    stroke: black;
    stroke-width: 1px;
}
#bubble .axis-label {
    font-size: 14px;
}
#bubble .controls {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
#bubble .slider {
    width: 1000px; /* Set slider width to match chart width */
    margin-left: 10px;
    margin-right: 10px;
}
#bubble .legend {
    font-size: 12px;
    margin-left: 20px;
}
#bubble .legend-color {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
#bubble .description {
    margin-top: 20px;
    font-size: 14px;
}
#bubble .tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 12px;
    box-shadow: 0px 0px 5px #aaa;
    pointer-events: none;
}
#bubble .year-text {
    font-size: 100px;
    fill: lightgray;
    text-anchor: middle;
    opacity: 0.5;
}
