/* General Reset and Basic Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f9;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

a {
    color: #0275d8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Navigation Styles */
nav {
    position: sticky;
    top: 0;
    background-color: #004d99;  /* Vibrant blue background */
    color: #ffffff;  /* White text for contrast */
    z-index: 1000;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;  /* Reduced padding for a tighter look */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);  /* Subtle shadow for depth */
}

nav ul {
    display: flex;
    justify-content: center;  /* Center links horizontally */
    padding: 0;
    margin: 0 auto;  /* Centering the navigation */
}

nav ul li {
    margin: 0 10px;  /* Space between items */
}

nav ul li a {
    font-size: 0.9rem;  /* Slightly smaller font size */
    color: inherit;  /* Inherits color from nav */
    padding: 5px 10px;  /* Padding around links */
    transition: background-color 0.3s;  /* Smooth transition for hover effect */
}

nav ul li a:hover {
    background-color: #003366;  /* Darker blue on hover and active */
}

/* Header */
header.title-row {
    background-color: #333;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
}

header.title-row h1 {
    margin: 0;
}

/* Main Content */
main.width-limited {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section {
    margin-bottom: 20px;
}

h2, h3 {
    color: #333;
}

p {
    margin-bottom: 10px;
}

ul {
    margin: 20px;
    padding-left: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 10px;
    background-color: #333;
    color: white;
}


/*Styles for the Spike Map*/

#main-container_spike {
    display: flex;
    height: 80vh; /* Full viewport height */
    align-items: stretch; /* Stretch children vertically */
    margin: 0;
    padding: 0;
}

#main-container_spike #map-and-controls {
    display: flex;
    flex-direction: column;
    flex: 7; /* Takes more space */
    align-items: stretch; /* Ensures children stretch to fill the width */
    margin: 0;
}

#main-container_spike #spike_map {
    height: 100%; /* Fill the available height */
    width: 100%;
}

#main-container_spike #controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px; /* Set a fixed height for controls */
    width: 100%;
}

#main-container_spike #controls input[type="range"] {
    width: 80%; /* Manage according to your design */
}

#main-container_spike #legends {
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-right: 0px;
    border: 1px solid #ccc;
	max-width: 240px; /* Maximum width to prevent too large containers */
    justify-content: space-between;  /* This ensures that the first item aligns to the top, and the last item aligns to the bottom */
}

#main-container_spike #colorLegend svg {
    overflow: visible; /* Allows elements that extend beyond the SVG's area to be visible */
}

#main-container_spike #sizeLegend svg {
    overflow: visible; /* Allows elements that extend beyond the SVG's area to be visible */
}